/*The image fix styling handles always displaying 8:5 resolution
Youtube videos in 8:5. It does this by mapping the youtube IFrames
over a clear 8:5 image that's width is degined in the main.css file
 for the page*/

/*BEGIN IMAGE FIX CSS CODE*/

.imageFix{
  position: relative;
  height : 100%;
}

/*the clear container should be in "clearContainer" class*/
.clearContainer{
  /*height: 100%;*/
  width: 100%;
  object-fit: contain;
}

/*IFrame should be in an inner class*/
.inner {
  position : absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*Iframe should have imageFix content as class */
.imageFixContent{
  height : 100%;
  width : 100%;
}

/*END IMAGE FIX CSS CODE*/
