body {
  position : relative;
}

footer {
  background-color: cornflowerblue;
  overflow: hidden;
  color : white;
  position: fixed;
  bottom: 0;
  font-size : 1.5vw;
  width: 100%;
  padding: 15px;
}
