body {
  position : relative;
}


@media screen and (min-width: 600px) {
  footer {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: cornflowerblue;
    overflow: hidden;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 1.5vw;
    width: 100%;
    padding: 15px;
  }
}
@media screen and (max-width: 599px) {
  footer {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    background-color: cornflowerblue;
    overflow: hidden;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 3vw;
    width: 100%;
    padding: 15px;
  }
}
