/*BEGIN NAVIGATION MENU CSS======================================*/

nav {
  background-color: cornflowerblue;
  overflow: hidden;
}
nav .left {
  float: left;
}

.navListElem:hover:not(.active) {
  background-color: #408fbd;
}

nav .right * {
  float: right
}

.menu-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-right li {
  float: left;
}

.nav-toggle {
  display: none;
}

@media screen and (min-width: 600px) and (min-device-width : 600px) {

  .navLink {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    display: block;
    color: white;
    font-size: 2.5vw;
    text-decoration: none;
  }


}
@media screen and (max-width: 599px), (max-device-width: 599px) {
  .navLink {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    display: block;
    color: white;
    font-size: 3.5vw;
    text-decoration: none;
  }
  #about {
    display: none;
  }
}


/*END NAVIGATION MENU CSS========================================*/
